@mixin mySet-forHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@mixin mySet-centerFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}